\#*
*~
.#*
.DS_Store
.idea
.localeapp/locales
.project
coverage
default
Gemfile.lock
tmp
nbproject
pkg
*.sw?
spec/dummy/log
spec/dummy/tmp
.rvmrc
.sass-cache
public/spree
.ruby-version
.ruby-gemset
gemfiles/*.gemfile.lock
